	<!-- breadcrumb -->
	<div class="container mt-7">
		<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
			<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
				{{!-- Home --}}
				<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
			</a>

			<span class="stext-109 cl4">
				{{!-- Shoping Cart --}}
			</span>
		</div>
	</div>
		

	<!-- Shoping Cart -->
	
	<form class="bg0 p-t-75 p-b-85">	
		<div class="container">
			<div class="row">
				<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
					<div class="m-l-25 m-r--38 m-lr-0-xl">
						<div class="wrap-table-shopping-cart">
							<table class="table-shopping-cart">
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4"></th>
									<th class="column-5"></th>
								</tr>
{{#each products}}
								<tr class="table_row">
									
									<td class="column-1">
										<div class="how-itemcart1">
											<img src="/admin-assets/product-images/{{this.product._id}}.jpg" alt="IMG">
										</div>
									</td>
									<td class="column-2">{{this.product.Name}}</td>
									<td class="column-3">{{this.product.Price}}</td>
									
									<td>
                                        <button onclick="addToCart('{{this.product._id}}')"  class="btn btn-primary ml-5" >add to cart</button>
                                    </td>
									<td > <button onclick="addToWishlist('{{this.product._id}}')" class="btn btn-danger ml-5" >remove</button></td>
								
								</tr>
{{/each}}

							</table>
						</div>

					
					</div>
				</div>

				
			</div>
		</div>
</form>
